$box-shadow-color: rgba(0, 0, 0, 0.25);
$box-shadow-offset-x: 0px;
$box-shadow-offset-y: 4px;
$box-shadow-blur-radius: 10px;
$box-shadow-spread-radius: 0px;

$primary-color: #38092E;
$secundary-color: #1A1A1A;
$terciary-color: #901776;
$quartiary-color: #FAF9F6;
$quinta-color: #641052;